section.hero: .container: .row: .col: .hero__wrap.d-flex.flex-column.justify-content-center
  .hero__text.d-flex.flex-column.align-items-center
    span.hero__description Комплекс услуг в сфере маркетинга.
    h1.hero__title Агенство «Нон стоп»
    button.button Смотреть Услуги
  .social-icons.social-icons_hero_position_bottom
    a(href="http://"): i.fa.fa-vk
    a(href="http://"): i.fa.fa-facebook-official
    a(href="http://"): i.fa.fa-odnoklassniki
    a(href="http://"): i.fa.fa-instagram
  .hero__slider-nav
    .hero__btn-wrap
      .hero__btn-lft
      .hero__btn-rght
    .hero__slider-counter 1/3