html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet" href="css/main.min.css")
    title non stop
  body
    include sections/header
    include sections/hero-bg-slider
    include sections/hero
    include sections/services
    include sections/projects
    include sections/ourTrust
    include sections/about
    include sections/news
    include sections/request
    include sections/footer


    script(src="js/libs.min.js")
    script(src="js/main.min.js")