.slider {
  z-index: -999;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;

  &__page1,
  &__page2,
  &__page3 {
    height: 703px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__page1 {
    background-image: url(../images/page-1/header/header-1.png);
  }
  &__page2 {
    background-image: url(../images/page-1/header/header-2.png);
  }
  &__page3 {
    background-image: url(../images/page-1/header/header-3.png);
  }
}
.slick-prev,
.slick-next {
  z-index: 999;
  font-size: 0;
  line-height: 0;
  width: 9px;
  height: 21px;  
  background-color: transparent;
  border: none;
  position: absolute;
  padding: 0;
  bottom: 5%;
}

.slick-next {
  background-image: url(/images/icons/arrow-right.png);
  right: 15%;

}
.slick-prev {
  background-image: url(/images/icons/arrow-left.png);
  right: 16.5%;
}
.slider__number {
  z-index: 999;
  position: absolute;
  bottom: 10%; 
}