body {
  font-family: $ff-main !important;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0;
}
* {
  letter-spacing: 1px;
  line-height: 1.7rem;
}

a {
  color: #000;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.btn-lft,
.btn-rght {
  width: 9px;
  height: 21px;  

  &:hover {
    cursor: pointer;
  }
}

.btn-lft {
  background-image: url(/images/icons/arrow-left.png);
}

.btn-rght {
  background-image: url(/images/icons/arrow-right.png);
}

.btn-lft_position_default,
.btn-rght_position_default {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}

.btn-rght_position_default {
  right: 3px;
}
.btn-lft_position_default {
  left: 0;
}
