body {
  font-family: $ff-main !important;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0;
}
* {
  transition: .3s;  
}

a {
  color: #000;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}