.phone {
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.button {
  border: none;
  background-color: #f02e53;
  color: #fff;
  padding: 12px 38px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 28px;
  font-size: 0.9rem;
  cursor: pointer;
  display: block;
  margin: auto;
  box-shadow: 0 10px 25px rgba(240, 46, 83, 0.34);

  &:hover {
    background-color: darken($color: #f02e53, $amount: 10)
  }

  &_position {
    margin-left: 0;
  }
}



.social-icons {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.social-icons_color_gray a{
  color: #929292;
}
.social-icons_size_big {
  width: 140px;
  font-size: 1.3rem;
}

.section-heder {
  font-family: $ff-main-semiBold;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 3px;
}

.phone {
  font-family: $ff-main-bold;
}