/*Fonts*/
$ff-main:'Oswald-Regular';
$ff-main-bold:'Oswald-Bold';
$ff-main-semiBold:'Oswald-SemiBold';
$ff-main-medium:'Oswald-Medium';
$ff-main-light:'Oswald-Light';
$ff-main-extraLight:'Oswald-ExtraLight';