section.advantage
  h3.section-header Правильно организованная дигустация поможет:
  .container
    .row.no-gutters
      include adventageList
    .row: .col
      .advantage__description.
        Обратившись в наше рекламное агентство, вы можете быть уверенны – мы проведем дегустацию вашего продукта на самом высоком уровне. <br/> 
        Наши промоутеры знают толк в своем деле – вас ждет полный пакет BTL-услуг по доступной стоимости. 