-
  var list = [
    'Познакомить потенциальных покупателей с продукцией.',
    'Улучшить показатели продаж товара. Как правило, в период проведения дегустации, рост продаж возрастает на 55-150%.',
    'Покупателям убедиться в высоком качестве продукции, ведь редко какой производитель согласится на проведение дегустации, если его продукт отличается сомнительным качеством.',
    'Привлечь внимание покупателей к вашей продукции, и отвлечь от товаров конкурентных производителей.'
  ]

each item, index in list
  .col-md-3: .advantage__item
      .advantage__number= '0' + (index + 1)
      .advantage__text= item

