section.s-hero
  .container: .row
    .col-md-6
      h1.hero__title.s-hero__title_position Дегустация
      p.
        Дегустация является наилучшим мотиватором для приобретения 
        товара. Она дает возможность каждому покупателю прочувствовать 
        преимущества продукции до ее покупки. В результате проведения 
        дегустации, многие покупатели не только приобретают продукцию, 
        но и советуют ее своим знакомым и близким людям.
      p.
        Дегустацию проводят промоутеры, которые знают всю информацию 
        о рекламируемом продукте и компании, его производящей. 
      button.button.button_position Заказать расчет