section.s-projects
  h3.section-header Выполненые проекты
  .container: .row: .col: .s-projects__carousel-wrap
    .btn-lft.btn-lft_position_default
    .btn-rght.btn-rght_position_default
    .s-projects__carousel
      include projectsList
  
