section.reviews
  h3.section-header Отзывы
  .container: .row: .col
    .btn-lft.btn-lft_position_default.reviews__btn-lft
    .btn-rght.btn-rght_position_default.reviews__btn-rgth
    .reviews__carousel
      include reviewsList