.header{
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #c9c9cb;
}

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $ff-main-medium;
    padding: 20px 0;
    letter-spacing: 1px;
  }
}