html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet" href="css/main.min.css")
    title non stop
  body
    include ../main/header
    include ../main/hero-bg-slider
    include ../main/hero
    include ../main/services
    include ../main/projects
    include ../main/ourTrust
    include ../main/about
    include ../main/news
    include ../main/request
    include ../main/footer


    script(src="js/libs.min.js")
    script(src="js/main.min.js")