html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet", href="../css/libs.min.css")
    link(rel="stylesheet" href="../css/main.min.css")
    title non stop - services
  body
    include ../../main/header.pug
    include ../../services/hero.pug
    include ../../services/advantage.pug
    include ../../services/projects.pug
    include ../../services/reviews.pug
    

    script(src="../js/libs.min.js")
    script(src="../js/main.min.js")