.advantage {
  padding: 96px 0 112px 0;

  &__item {
    margin-top: 55px;
    margin-right: 10px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &__number {
    position: relative;
    left: 5px;
    color: #dbdbdb;
    font-family:$ff-main-bold;
    font-size: 5rem;
  }

  &__text {
    height: 289px;
    position: relative;
    bottom: 12px;
    padding: 50px 25px;
    border-radius: 10px;
    background-color: rgba(243, 84, 114, 0.85);
    color: #fff;   
    
  }

  &__description {
    margin-top: 70px;
    margin-left: 48px;
    color: #222222;
  }
}