section.about
  h3.section-header О компании
  .container
    .row.about__list.no-gutters
      include aboutList
    .row
      .col
        h4.about__heder Рекламное агентство «НОН СТОП»
    .row.about__text    
      .col-lg-4         
        p.
          Мы работаем на рекламном рынке Ульяновска и России уже более 14 лет. 
          С самого начала основными принципами нашей работы являлась высокая эффективность 
          рекламных кампаний и их не менее высокое качество.
        p.
          У нас трудятся специалисты с большим стажем работы. К вашим услугам – 
          высокопрофессиональные маркетологи, работники PR, event-менеджеры, BTL-специалисты. 
        p.
          Услуги BTL агентства Activity marketing
          К нам обращаются те клиенты, которые желают получить полный список рекламных услуг 
          от одной организации. Поэтому мы рады предложить:
      .col-lg-4
        p.
          1. Проведение промо-акций и рекламных btl-кампаний: работа промоутеров с листовками, 
          образцами продукции (сэмплинг), организация дегустаций и пр.
        p.
          2. Работа по такому направлению, как «тайный покупатель», с предоставлением полных 
          данным в результате исследования.
        p.
          3. Event-маркетинг: проведение мероприятий различной направленности (Новый год, 
          юбилеи и значимые события компании, тренинги, семинары, деловые конференции, детские 
          праздники, клиентские мероприятия и пр.).
      .col-lg-4
        p.
          4. Проведение мерчендайзинга в торговых точках.
        p.
          5. Работа с персоналом: подбор, обучение.



