footer.footer: .container
  .row.footer__top
    .col-md-3 
      .footer__logo: img(src="images/footer/logo-footer.png", alt="logo-footer")
      .footer__address 432000, г. Ульяновск,<br/> «Агенство НОН СТОП»,<br/> ул. Красноармейская д. 13 к. 2
    .col-md-5.offset-md-1.d-flex.justify-content-center.align-items-center
      .footer__description © «Агенство НОН СТОП» 2018 г. Все права защищены.
    .d-flex.flex-column.col-md-2.offset-md-1.align-items-end.justify-content-center      
      .phone.phone_fat
        .phone__number 8 (8422) 67-47-18
        .phone__number 8 (951) 099-63-20
      .footer__email ans@a-nonstop.ru
      .social-icons.social-icons_color_gray.social-icons_size_big.d-flex
        a(href="http://"): i.fa.fa-vk
        a(href="http://"): i.fa.fa-facebook-official
        a(href="http://"): i.fa.fa-odnoklassniki
        a(href="http://"): i.fa.fa-instagram
  .footer__bottom.d-flex.justify-content-center
    include nav
