header.header
  .container.header__main
    .logo
      img.logo__picture(src='/images/page-1/header/logo.png' alt='logo')
      img.logo__picture(src='/images/page-1/header/logo-text.png' alt='logo-text')
    nav.nav
      include nav
    .phone
      .phone__number 8 (8422) 67-47-18
      .phone__number 8 (951) 099-63-20