-var items = ['Главная', 'Услуги', 'О нас', 'Портфолио', 'Контакты']
-var links = ['/', '/services', '#about', '#portfolio', '#contacts']

each item, index in items
  a.nav__link(href= links[index])= item