-
  var list = [
    'vtb',
    'Beeline',
    'rostelecom',
    'venec',
    'kia',
    'sber',
    'binbank',
    'mts',
    'Lenta',
    'dobostroi',
    'vita',
    'gulliver'
  ]

each item in list
  .col-md-3.d-flex.align-content-center.justify-content-center.our-trust__item-wrap: .our-trust__item
    img(src= "images/page-1/section-3/" + item + '.png', alt= item)